/* custom font */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}

/* custom color scheme: blue #2BA2C5, dark #212529 */

/* Custom Blue Color */
:root {
    --custom-blue: #2BA2C5;
}
  
/* Active page number background and text color */
.page-item.active .page-link {
    background-color: var(--custom-blue) !important;
    border-color: var(--custom-blue) !important;
    color: white !important;
}

/* Text color of other page numbers */
.page-link {
    color: var(--custom-blue) !important;
}

/* primary edit */
.text-primary {
    color: #2BA2C5 !important;
}

.btn-outline-primary {
    border-color: #2BA2C5;
    color: #2BA2C5;
}

.btn-outline-primary:hover {
    background-color: #2BA2C5;
    border-color: #2BA2C5;
    color: white;
}

.btn-primary {
    background-color: #2BA2C5;
    border-color: #2BA2C5;
}

.btn-primary:hover {
    background-color: #2BA2C5;
    border-color: #2BA2C5;
}

.bg-primary {
    background-color: #2BA2C5 !important;
}

/* forgot password link hover */
.fp-hover:hover {
    color: #0d6efd !important;
}

/* mouseover pointer */
.cursor-pointer:hover {
    cursor: pointer;
}

.cursor-pointer-icon:hover {
    cursor: pointer;
    color: white !important;
}

.cursor-pointer-comment:hover {
    cursor: pointer;
    color: #2BA2C5 !important;
}

.view-more:hover {
    color: blue !important;
}

.no-cursor:hover {
    cursor: default;
}

/* Set the scrollbar width and color for Google Chrome and Safari */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background-color: #212529;
}
  
::-webkit-scrollbar-thumb {
    background-color: #2BA2C5;
    border: 1px solid #212529;
    border-radius: 5px;
}

/* Set the scrollbar width and color for Mozilla Firefox */
/* Note: Firefox only supports color customization */
/* You can use -moz-appearance:none; to remove the default scrollbar appearance and apply your own styles */
* {
    scrollbar-color: #2BA2C5 #212529;
    scrollbar-width: thin;
}

/* Set the scrollbar width and color for Microsoft Edge and IE */
/* Note: Edge and IE only support width customization */
/* You can use -ms-overflow-style:none; to remove the default scrollbar appearance and apply your own styles */
* {
    -ms-overflow-style: none;
    scrollbar-width: thin;
    scrollbar-color: #2BA2C5 #212529;
}

/* Set the scrollbar width and color for Opera */
/* Note: Opera only supports width customization */
/* You can use -o-scrollbar-width:none; to remove the default scrollbar appearance and apply your own styles */
* {
    scrollbar-width: thin;
    -o-scrollbar-width: thin;
    scrollbar-color: #2BA2C5 #212529;
}